@import "tailwindcss";

:root {
  --background: #f8fafc;
  --foreground: #1e293b;
  --card: #ffffff;
  --primary: #244635;
  /* Pantone 567 C */
  --primary-foreground: #ffffff;
  --secondary: #205628;
  /* Pantone 554 C */
  --accent: #D1BD85;
  /* Pantone 4535 C */
  --muted: #4D5D4F;
  /* Pantone 7735 C */
  --success: #3B553F;
  /* Pantone 7736 C */
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: 'Inter', sans-serif;
}

.glass-card {
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.07);
}